div1 { 
	width: 100%;
    height: 160px;
	background: radial-gradient(at center, #FEFFFF, #A7CECC);
    line-height: 50px;
	border-style: solid;
    color: black;
	float: left;
	box-sizing: border-box;
	  animation-duration: 3s;
  animation-name: slidein;
}

div4 { 
	width: 100%;
    height: 150px;
	background:radial-gradient(at center, #FEFFFF, #A7CECC);
    line-height: 50px;
	border-style: solid;
    color: black;
	box-sizing: border-box;
	  animation-duration: 3s;
  animation-name: slidein;
}

body {
background:#64b3c4;
margin: 0 0 0 0;
animation-duration: 3s;
animation-name: slidein;
}

div2 { 
	width: 70%;
    height: 100px;
	background: #A7CECC;
	border-style: solid;
    color: black;
	float: left;
	box-sizing: border-box;
	  animation-duration: 3s;
  animation-name: slidein;
}
	
div3 {
	width: 30%;
    height: 100px;
	background: #A7CECC;
	line-height:0px;
	border-style: solid;
    color: black;
	float: right;
	box-sizing: border-box;
	  animation-duration: 3s;
  animation-name: slidein;
	
}

div5 { 
	width: 70%;
    height: 100px;
	background: #A7CECC;
	border-style: solid;
    color: black;
	float: left;
	box-sizing: border-box;
	  animation-duration: 3s;
  animation-name: slidein;
}

.prokrutka {
height: 500px; /* высота нашего блока */
width: 30%; /* ширина нашего блока */
background: #64b3d9; /* цвет фона, */
border:solid; /* размер и цвет границы блока */
overflow-x: scroll; /* прокрутка по горизонтали */
overflow-y: scroll; /* прокрутка по вертикали */
float:right;
box-sizing: border-box;
}

.feedback {
height: 800px;
width:30%;
float:left;
border:solid;
background: #A7CECC;
box-sizing: border-box;
}

.main{
height: 800px;
width:40%;
border:solid;
float:left;
background: #A7CECC;
box-sizing: border-box;
}

.footer {
height: 100px;
width:80%;
float:right;
border:solid;
background: radial-gradient(at center, #FEFFFF, #A7CECC);
float:right;
box-sizing: border-box;
}

.vozvrat{
height: 300px;
width:30%;
float:right;
border:solid;
background: #A7CECC;
float:right;
box-sizing: border-box;
text-align: center;
}

.obratka{
	height:100px;
	width:20%;
	float:left;
	border:solid;
	box-sizing: border-box;
	background: #A7CECC;
}
div1 {

}
div2 {
  animation-duration: 3s;
  animation-name: slidein;
}
div1 {
  animation-duration: 3s;
  animation-name: slidein;
}
div3 {
  animation-duration: 3s;
  animation-name: slidein;
}
div4 {
  animation-duration: 3s;
  animation-name: slidein;
}
div5 {
  animation-duration: 3s;
  animation-name: slidein;
}

h1 {
  animation: uk-text-shadow-glitch .65s cubic-bezier(.25, .46, .45, .9399999999999999) both infinite;
}

@keyframes uk-text-shadow-glitch {
  0% {
    text-shadow: none
  }
  25% {
    text-shadow: -2px -2px 0 #eb055a, 2px 2px 0 #4632f0
  }
  50% {
    text-shadow: 2px -2px 0 #eb055a, -2px 2px 0 #4632f0
  }
  75% {
    text-shadow: -2px 2px 0 #eb055a, 2px -2px 0 #4632f0
  }
  100% {
    text-shadow: 2px 2px 0 #eb055a, -2px -2px 0 #4632f0
  }
}

